<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="/informacion" routerLinkActive="activo" class="nav-link">Información</a>
            </li>
            <li class="nav-item">
                <a routerLink="/formulario" class="nav-link" routerLinkActive="activo">Formulario</a>
            </li>
            <li class="nav-item">
                <a routerLink="formulario2" routerLinkActive="activo" class="nav-link">Formulario SRI</a>
            </li>
            <li class="nav-item">
                <a routerLink="reportes" class="nav-link" routerLinkActive="activo">Reportes</a>
            </li>
            <li class="nav-item">
                <a routerLink="reporte_user" class="nav-link" routerLinkActive="activo">Reporte Usuarios</a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link" routerLinkActive="activo">Login</a>
            </li>
        </ul>
    </div>
</nav>