<div class="container">
    <ul class="mt-2">
        <li *ngFor="let deducible of deducibles" class="mt-2">
            <div class="card" style="width: 80rem;">
                <img [src]="deducible.imagen" class="card-img-top" [alt]="deducible.alt">
                <div class="card-body">
                    <h5 class="card-title">{{deducible.categoria}}</h5>
                    <p class="card-text">{{deducible.descripcion}} <b>{{deducible.categoria}}</b></p>
                    <button (click)="informacion(deducible)" class="btn btn-info">Información</button>
                    <button (click)="borrarDeducible(deducible)" class="btn btn-warning">Borrar</button>
                </div>
            </div>
        </li>
    </ul>
</div>
