<div class="container">
    <h2 class="text-center">Reporte de Pago Impuesto a la Renta</h2>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Login</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of user">
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.name}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>